@import "tailwindcss";

.notchTime {
  color: #010101;
  text-align: center;

  /* Default/Bold/Body */
  font-family: "SF Pro Text";
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 129.412% */
  letter-spacing: -0.408px;
}
